*.gem
*.rbc
.bundle
.config
.ruby-*
.yardoc
Gemfile*.lock
*.gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

spec/dummy/log/
.ruby-gemset
.ruby-version
